<%= form_for([admin_item.store , admin_item], url: admin_url) do |f| %>
  <% if admin_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_item.errors.count, "error") %> prohibited this admin_item from being saved:</h2>

      <ul>
      <% admin_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <span class="store-new-item">商品名稱：</span>
    <%#= f.label :item_name %>
    <%= f.text_field :item_name ,class:'store-new-item-input' %>
  </div>
  <div class="field">
    <span class="store-new-item">商品價格：</span>
    <%#= f.label :item_price %>
    <%= f.text_field :item_price ,class:'store-new-item-input' %>
  </div>
  <div class="field">
    <span class="store-new-item">商品類型：</span>
    <%#= f.label :item_about %>
    <%= f.text_field :item_type ,class:'store-new-item-input' %>
  </div>
  <div class="field">
    <span class="store-new-item">商品介紹：</span>
    <%#= f.label :item_about %>
    <%= f.text_area :item_about ,class:'store-new-item-input' %>
  </div>
  
  <div class="actions text-xs-right">
    <%= f.submit "儲存", class:'store-new-item-button d-inline-block' %>
  </div>
<% end %>