<h5>商品資訊</h5>

<table class="table">
  <thead>
    <tr>
      <td>價格</td>
      <td>商品名稱</td>
      <td>商品介紹</td>
      <td>編輯/刪除</td>
    </tr>
  </thead>

  <tbody>
    <% @admin_items.each do |admin_item| %>
      <tr>
        <td><%=admin_item.item_price%></td>
        <td><%=admin_item.item_name%></td>
        <td><%=admin_item.item_about%></td>
        <td><%= link_to '編輯', edit_admin_store_item_path(admin_item.store,admin_item) %>
        <%= link_to '刪除',admin_store_item_path(admin_item.store,admin_item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Item', new_admin_store_item_path %>
