<%= form_for store do |f| %>
  <% if store.errors.any? %>
    <div id="error_explanation">
      <h2><%=store.errors.count %> 個欄位未填</h2>

      <!-- <ul> -->
      <%# store.errors.full_messages.each do |message| %>
        <!-- <li><%#= message %></li> -->
      <%# end %>
      <!-- </ul> -->
    </div>
  <% end %>


<div class="col-xs-12 col-sm-6">
  <h4 class="text-xs-center text-sm-left p-t-2">商店資料</h4>
  <div class="p-l-1 p-t-1">
    <div class="field">
      <%#= f.label :store_name %>
      <span>商店名稱：</span>
      <%= f.text_field :store_name%>
    </div>
    <div class="field">
      <span>商店電話：</span>
      <%= f.telephone_field :store_phone%>
    </div>
    <div class="field">
      <span>商店地址：</span> 
      <%=f.select :store_city, options_for_select(city_array,f.object.store_city),{:class => 'store-info-city'}%>
      <%= f.text_field :store_address%>
    </div>
    <div class="field">
      <span>商店類型:</span>
      <%= f.select :store_type, options_for_select(store_type_array,f.object.store_type),{}%>
    </div>
  </div>
</div>

<div class="col-xs-12 col-sm-6">
  <h4 class="text-xs-center text-sm-left p-t-2">負責人聯絡資訊</h4>
  <div class="p-l-1 p-t-1">
    <div class="field">
      <span>負責人姓名：</span>
      <%= f.text_field :store_keeper_name%>
    </div>
    <div class="field">
     <span>負責人電話：</span>
      <%= f.telephone_field :store_keeper_phone%>
    </div>
    <div class="field">
      <span>負責人信箱：</span>
      <%= f.email_field :store_email%>
    </div>
  </div>
</div>



<!-- 上一頁 ＋ 按鈕  -->
<div class="col-xs-12 bottom p-t-1">
    <div class="col-xs-6 col-sm-3 p-l-0">
        <span class='pull-xs-left'>
            <p>
                <%= link_to contract_path do%>
                  <span>&lt;</span> 上一頁
                <%end%>
            </p>
        </span>
    </div>
    <div class="col-xs-6 pull-sm-right p-r-0">
        <div class="p-l-2 pull-sm-right text-xs-right actions">
            <%#= link_to complete_path%>
            <%= f.submit "繼續" ,class:"next" %>
            <!-- <input type="submit" class="next" value="繼續"> -->
        </div>
    </div>
</div>


<% end %>
