<h6 class="page_title"><span>商店街</span></h6>
<div class="card-deck-wrapper">
  <div class="card-deck"> 
      <% @store.each do |admin,store|%>
          <div class="card">
            <%= link_to store do%>
                <%=image_tag admin.store_cover_photo.thumb.url || 'avatar.jpg', class: "card-img-top"%>
                <div class="card-block">
                  <p><small class="text-muted"><%= store.store_type %></small></p>
                  <h6><%= store.store_name %></h6>
                  <p><%= store.store_address %></p>
                </div>    
            <%end%>
          </div>
      <% end %>
    </div>
</div>