<p id="notice"><%= notice %></p>

<p>
  <strong>Store phone:</strong>
  <%= @store.store_phone %>
</p>

<p>
  <strong>Store address:</strong>
  <%= @store.store_address %>
</p>

<p>
  <strong>Store name:</strong>
  <%= @store.store_name %>
</p>

<p>
  <strong>Store keeper name:</strong>
  <%= @store.store_keeper_name %>
</p>

<p>
  <strong>Store keeper phone:</strong>
  <%= @store.store_keeper_phone %>
</p>

<p>
  <strong>Store email:</strong>
  <%= @store.store_email %>
</p>

<p>
  <strong>Store about string:</strong>
  <%= @store.store_about_string %>
</p>

<p>
  <strong>Store location:</strong>
  <%= @store.store_location %>
</p>

<p>
  <strong>Store time:</strong>
  <%= @store.store_time %>
</p>

<p>
  <strong>Store rule:</strong>
  <%= @store.store_rule %>
</p>

<p>
  <strong>Store photo:</strong>
  <%= @store.store_photo %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
