<p id="notice"><%= notice %></p>

<p>
  <strong>Store name:</strong>
  <%= @store.store_name %>
</p>

<p>
  <strong>Store type:</strong>
  <%= @store.store_type%>
</p>


<p>
  <strong>Store address:</strong>
  <%= @store.store_address %>
</p>


<p>
  <strong>Store photo:</strong>
  <%for i in @admin_store_pic.store_photo%>
    <%=image_tag i.url%>
  <%end%>
</p>

<p>
  <strong>Store about string:</strong>
  <%= @store.store_about %>
</p>

<p>
  <strong>Store time:</strong>
  <%= @store.store_time %>
</p>

<p>
  <strong>Store phone:</strong>
  <%= @store.store_phone %>
</p>


<p>
  <strong>Store rule:</strong>
  <%= @store.store_rule %>
</p>








<%#= link_to 'Edit', edit_store_path(@store) %> 
<%#= link_to 'Back', stores_path %>
