<!-- <div class="store-show"> -->
  <div class="col-md-4 col-xs-12 background-white">

    <div class="col-md-6 col-xs-6 p-x-0 m-b-1">
      <h4 class="m-b-0"><strong><%= @store.store_name %></strong></h4>
    </div>
    <div class="col-md-6 col-xs-6 p-x-0 text-xs-right">
      <%if signed_in?%>
      <div id="store-<%= @store.id %>">
        <div class="follow p-t-0">
          <%= render 'follows/store_form', store: @store %>
        </div>
      </div>
      <%end%>
    </div>
      <div class="col-xs-12 col-sm-12">
      <%= @store.store_type%> <%#= @store.store_address %>
      / 簡介：<br><%= simple_format(@store.store_about) %>
    </div>

    <div class="text-xs-center col-xs-12 p-b-2 p-l-0 p-r-0 m-t-1 cou-store-bgpic">
          <div class="p-x-0" id="coupon-pic">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
              <%@admin_store_pic.store_photo.each_with_index do |pic,index|%>
                <li data-target="#carousel-example-generic" data-slide-to="<%=index%>" class="<%=coupon_carousel_active(index)%>"></li>
              <%end%>
              </ol>
            <div class="carousel-inner" role="listbox">
              <%@admin_store_pic.store_photo.each_with_index do |pic,index|%>
                <div class="carousel-item <%=coupon_carousel_active(index)%>">
                  <div class="text-xs-center vertical-middle">
                    <%=image_tag pic.url,style:""%>
                  </div>
                </div>
              <%end%>
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="icon-prev" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="icon-next" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
    </div>



  <!--   
    <div class="p-b-2">
      <strong><%= @store.store_type%> </strong>
      <strong><%= @store.store_address %></strong>
    </div> 
  -->

    <div class="col-sm-6 col-xs-12">
      <p>
        <%= image_tag 'cou_clock.png' , class:'cou-icon' %>
        <%= @store.store_time %>
      </p>
    </div>
    <div class="col-sm-6 col-xs-12">
      <p>
        <%= image_tag 'cou_tel.png' , class:'cou-icon' %>
        <%= @store.store_phone %>
      </p>
    </div>
    <div class="col-sm-6 col-xs-12">
      <p>
        <%= image_tag 'cou_gps.png' , class:'cou-icon' %>
        <%= @store.store_address %>
      </p>
    </div>
    <div class="col-sm-6 col-xs-12">
      <p>
        <%= image_tag 'cou_star.png' , class:'cou-icon' %>
        <%= @store.store_rule %>
      </p>
    </div>

    <div class="col-xs-12 cou-info-coupon p-t-0 m-t-0">
      <h6 class="m-t-2 m-b-2 text-xs-center">
        <!-- <button class="now-but">優惠動態</button> -->
        <span class="pass-but">優惠券</span>
        <!-- <button class="news-but">過期優惠</button> -->
      </h6>
      <!-- 現行優惠券 -->
      <div class="now-coupon">
        <% @coupons.each do |coupon| %>
          <%= link_to  user_coupon_path(coupon) do%>
            <div class="cou-info-detail">
              <p class="cou-info-detail-title"><%=coupon.coupon_title%></p>
              <div class="cou-info-detail-content">
                <p><%=simple_format(coupon.other_content)%></p>
                <p><%=coupon.computed_discount*10%>折開始計算</p>
              </div>
            </div>
          <%end%>
        <%end%>
      </div>
    </div>

  </div>
  <div class="col-md-8 col-xs-12">
    <div id="activities">
      <%if @activities.present?%>
        <%= render_activities(@activities, layout: '/shared/activity')%>
      <%else%>
        <%=render('shared/no_resource', resources: '貼文') %>
      <%end%>
    </div>
    <%= render 'shared/paginate', resources: @activities %>
  </div>
<!-- </div> -->

<%#= link_to 'Edit', edit_store_path(@store) %> 
<%#= link_to 'Back', stores_path %>
