<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <div class="well">
      <h5>編輯個人資料</h5>
      <%= link_to '更改密碼', edit_user_registration_path %>
      <%= form_for @user do |f| %>
        <div class="form-group">
          <%= f.label :avatar, "大頭貼" %>
          <br>
          <%= render 'shared/avatar', user: @user %>
          <br>
          <br>
          <%= f.file_field :avatar %>
        </div>

        <div class="form-group">
          <%#= f.label :name,"姓名" %>
          <p>姓名(必填）</p>
          <%= f.text_field :name, placeholder: '請輸入全名', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :about,"關於" %>
          <%= f.text_area :about, placeholder: '用一段話介紹自己吧！', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :location,"居住縣市" %>
          <%= f.select :location,  options_for_select(@city_array,f.object.location),{}, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :age,"年齡"%>
          <%= f.number_field :age, placeholder: '年紀', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :gender,"性別" %><br>
          <%= f.select :gender,options_for_select([['男性','male'],['女性','female']], :selected => f.object.gender),{}, class: 'form-control'%>
        </div>
        <div class="actions">
          <%= submit_tag '更新個人資料', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>