<div id="user-<%= @user.id %>" class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-6">
    <div class="user-info">
      <%=image_tag @user.avatar.url|| 'avatar.jpg',style:"width:100px;"%>
      <h5><%=@user.name%></h5>
      <%=@user.about%>
      <% if is_current_user?(@user) %>
        <%= link_to '編輯個人檔案', edit_user_path(@user) %>
      <%else%>
        <%=render "follows/form",user:@user%>
      <%end%>
      <p><%= link_to followers_user_path(@user) do%><%=@user.followers_count%>位粉絲<%end%>｜
      <%= link_to friends_user_path(@user) do%>追蹤<%=@user.following_users_count%>人<%end%>｜<%= link_to stores_user_path(@user) do%><%=@user.following_stores.size%>喜愛商家<%end%>｜<%= @post_size%>則貼文</p> 
    </div>

    <div id="activities">
      <% if @activities.empty? %>
        <div class="well">
          <%= render('shared/no_resource', resources: 'Activities') %>
        </div>
      <% else %>
        <%= render_activities(@activities, layout: '/shared/activity') %>
      <% end %>
    </div>
    <%= render 'shared/paginate', resources: @activities %>
  </div>
  <div class="col-lg-4">

  </div>
</div>