<div id="user-<%= @user.id %>">
  <div class="self-board">
        <div class="self">
          <div class="self-pic text-xs-center text-sm-left">
            <%=image_tag @user.avatar.url|| 'avatar.jpg',style:"width:100px;"%>
          </div>

          <div class="self-content">
            <div class="p-b-1">
              <span class="user_name"><%=@user.name%></span>
                <span class="p-l-1 pull-right">
                  <% if is_current_user?(@user) %>
                    <%= link_to edit_user_path(@user) do%>
                      <i class="fa fa-pencil"></i>
                    <%end%>
                  <%else%>
                    <%=render "follows/form",user:@user%>
                  <%end%>
                </span>
            </div>
            <div class="self-status">

              <p class="p-t-0">
                <strong> <%= @post_size%> </strong>則貼文
                <span> ｜ </span>
                <%= link_to followers_user_path(@user) do%>
                  <strong><%=@user.followers_count%></strong> 位粉絲
                <%end%>
                <span> ｜</span>
                <%= link_to friends_user_path(@user) do%>
                  追蹤 <strong><%=@user.following_users_count%></strong> 人
                <%end%>
                <span> ｜ </span>
                <%= link_to stores_user_path(@user) do%>
                  <strong><%=@user.following_stores.size%></strong> 喜愛商家
                <%end%>
              </p>
            </div>
              <span>
                <%=@user.about%>
              </span>
          </div>

          <div class="self-xs-status">
            <hr class="m-b-1">
            <p class="text-xs-center">
              <%= link_to followers_user_path(@user) do%>
                <strong> <%=@user.followers_count%></strong>位粉絲 
              <%end%>
              <span> | </span>
              <%= link_to friends_user_path(@user) do%>
                追蹤<strong><%=@user.following_users_count%></strong>人 
              <%end%>
              <span> | </span>
              <%= link_to stores_user_path(@user) do%>
                <strong> <%=@user.following_stores.size%></strong>喜愛商家 
              <%end%>
            </p>
          </div>


        </div>



    <div id="activities" class="">
      <%=show_post(@activities,@user)%>
    </div>
    <%= render 'shared/paginate', resources: @activities %>
  </div>
</div>