<div class="background-white devise-box">
  <div>
    <h5>更改密碼</h5>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field">
        <%= f.label :password, "新密碼" %><br />
        <% if @minimum_password_length %>
        <em>(長度至少為<%= @minimum_password_length %>碼 )</em>
        <% end %><br />
        <%= f.password_field :password, autofocus: true, autocomplete: "off", class:"devise-input devise-normal form-control"  %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "確認您的新密碼" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class:"devise-input devise-normal form-control"  %>
      </div>

      <div class="actions">
        <%= f.submit "更改密碼",class:"devise-btn devise-normal orange-btn" %>
      </div>
    <% end %>

    <%#= render "devise/shared/links" %>
  </div>
</div>