<!-- <div class="col-md-4 col-sm-6"> -->
<div id="coupon-<%=coupon.id%>" class="card text-xs-center">
  <%= link_to user_coupon_path(coupon) do%>

      <!-- <div> -->
        <%=image_tag coupon.root.coupon_pic.thumb.url || 'avatar.jpg', class: 'card-img-top'%>
        <div class="card-block p-t-1 p-b-1">
          <p class="card-text m-b-0">
            <%=coupon.store.store_name%>
          </p>
          <h6 class="card-title m-b-0">
            <%=coupon.coupon_title%>
          </h6>

          <p class="card-text">
            <%=(coupon.computed_discount*10.0).round(2)%>折
          </p>
          <p class="card-text">
          <%#if coupon.parent.user.present?%>
            <%#=coupon.parent.user.name%>
          <%#elsif coupon.parent.root?%>
            <!-- 店家發送 -->
          <%#else%>
            <!-- 已被刪除的使用者 -->
          <%#end%>
          <%=distributor(coupon)%>
          </p>

        </div>
    
  <%end%>
</div>
<!-- </div> -->
                  
            