<!-- <div class="col-md-4 col-sm-6"> -->
<div id="coupon-<%=coupon.id%>" class="card">
  <%= link_to user_coupon_path(coupon) do%>

      <!-- <div> -->
        <%=image_tag coupon.root.coupon_pic.thumb.url || 'avatar.jpg', class: 'card-img-top'%>
        <div class="card-block p-t-1 p-b-1">
          <div class="pull-left text-xs-left col-xs-8">
          <p class="card-text m-b-0">
            <%=coupon.store.store_name%>
          </p>
          <h6 class="card-title m-b-0">
            <%=coupon.coupon_title%>
          </h6>

          <p class="card-text">
            <%=(coupon.computed_discount*10.0).round(2)%>折
          </p>
          </div>
          <div class="col-xs-4 cc text-xs-center">
            <!-- <p class="card-text"> -->
              <%=distributor2(coupon)%>
            <!-- </p> -->
          </div>

        </div>
    
  <%end%>
</div>
<!-- </div> -->
                  
            