<%= form_for([@coupon.user,@coupon]) do |f| %>
  <% if @coupon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coupon.errors.count, "error") %> prohibited this coupon from being saved:</h2>

      <ul>
      <% @coupon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="field">
    <%= f.label :coupon_title %><br />
    <%= f.text_field :coupon_title %>
  </div>
  <div class="field">
    <%= f.label :coupon_pic %><br />
    <%= f.file_field :coupon_pic %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
