<h6 class="page_title"><span>我的優惠券列表</span></h6>

  <div class="m-b-1 col-sm-12">
    <div class="col-sm-12 cou-type">
      <%= link_to "可使用", coupons_path,class:"nav-link orange-use-btn notuse filter" %>
      <span>|</span>
      <%= link_to "已使用", user_coupons_used_path,class:"nav-link used filter"%>
      <span>|</span>
      <%= link_to "已過期", user_coupons_overdue_path,class:"nav-link overdue filter" %>
    </div>
  </div>
  
<div class="card-deck-wrapper">
  <div class="card-deck coupons"> 
    <%#if @coupon.present?%>
        <%# @coupon.each do |coupon| %>
          <%#=render "coupons/coupon",coupon: coupon%>
        <%#end%>
        <%#= render 'shared/paginate', resources: @coupon %>
        <%#= will_paginate @coupon%>
    <%#else%>
      <%#=render('shared/no_resource', resources: '相關優惠卷') %>
    <%#end%>
    <%if @coupon.present?%>
      <%= render (@coupon) %>
    <%else%>
      <%=render('shared/no_resource', resources: '相關優惠卷') %>
    <%end%>
  </div>
  <%= render 'shared/paginate', resources: @coupon %>
</div>