<p id="notice"><%= notice %></p>

<h1>Listing Coupons</h1>

<table class="table">
  <thead>
    <tr>
      <td><b>Coupon id</b></td>
      <td><b>標題</b></td>
      <td><b>折數</b></td>
      <td><b>狀態</b></td>
    </tr>
  </thead>

  <tbody>
    <% @coupons.each do |coupon| %>

      <tr>
      <td><%=coupon.id%></td>
        <td><%=coupon.coupon_title%>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><%=(1-coupon.computed_discount)*10%>折&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><%if coupon.expiry_date<Date.today%>
              已過期
            <%elsif coupon.used==false%>
              未使用
            <%elsif coupon.used==true%>
              已使用
            <%end%>
        </td>
        <td><%= link_to '詳細資訊',[coupon.user,coupon]%>&nbsp;&nbsp;</td>
        <td><%#= link_to 'Edit', edit_user_coupon_path(coupon.user,coupon) %></td>
        <td><%= link_to '兌換(顧客按的)', redeem_user_coupon_path(@user,coupon) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Coupon', new_user_coupon_path %>
<br>
<%=link_to 'home', root_path%>
