<div class="container coupon-width">
  <div class="row coupon-bg">
      <div class="col-sm-6 p-x-0 text-xs-center" id="coupon-pic">
        <%=image_tag @coupon.root.coupon_pic.thumb.url,class:" background-white p-t-0 w-100"%>
      </div>

    <div class="col-sm-6" id='coupon-content'>
      <div id='coupon-con'>
        <h5><%= @coupon.coupon_title %></h5>
        <div>
          <p><%=@store.store_city%> <span><%= link_to store_path(@store) do%><%=@store.store_name%><%end%></span></p>
          <p>贈送人：<%= distributor(@coupon)%></p>
          <p>狀態：<%= coupon_status(@coupon)%></p>
          <p>商品：<%=@coupon.item%></p>
          <p class="m-t-1 m-b-1" id='money'><%=@coupon.computed_discount*10 %>折</p>
          <div>
            <%if coupon_status(@coupon)=="可使用"%>
              <button type="button" data-toggle="modal" data-target="#send-Modal">發送</button>
              <button type="button" data-toggle="modal" data-target=".bd-example-modal-sm">兌換</button>

            <%end%>
             <button type="button" data-toggle="modal" data-target="#myModal">分享</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12" id='coupon-notice'>
      <div>
        <h6><span>使用說明</span>：</h6>
        <ol>
          <li>每增加一人使用增加<%=(@coupon.discount)*100 %>%折扣</li>
        </ol>
      </div>
      <div>
        <h6><span>注意事項</span>：</h6>
        <ol>
          <li><%=simple_format(@coupon.other_content)%></li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="send-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h6 class="modal-title">發送給你的朋友</h6>
      </div>
      <div class="modal-body">
        <%if coupon_status(@coupon)=="可使用"%>
          <%= form_tag distribute_user_coupon_path do %>
            <div class="form-group">
              <%= select_tag :receiver_id,options_for_select(@friends_array),class:"form-control"%>
            </div>
      </div>
      <div class="modal-footer">
            <%= submit_tag "傳送", class: 'btn orange-btn-nm' %>
          <% end %>
         <%end%> 
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-width">
    <div class="modal-content">
        <button type="button" class="close p-r-1 p-t-1" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="text-xs-left p-t-2 p-b-2 qrcode-modal">
          <h5>QR code</h5>
          <%if coupon_status(@coupon)=="可使用"%>
            <%=image_tag @coupon.qr_code.url, class:"qrcode" %>
          <% end %>
          <div class="text-xs-center">
            <!-- <button class="orange-btn">下載儲存此QRCode</button> -->
            <button class="orange-btn-nm"><%= link_to "下載儲存此QRCode", download_path(current_user,@coupon) %></button>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">分享到你的動態時報</h4>
      </div>
      <div class="modal-body text-xs-center">

            <div id="shareBtn" class="orange-btn-nm btn clearfix">Share</div>
            <%= render 'posts/form' %>

            <script>

              window.fbAsyncInit = function() {
                FB.init({
                  appId      : '1795893413990726',
                  xfbml      : true,
                  version    : 'v2.7'
                });
              };

              (function(d, s, id){
                 var js, fjs = d.getElementsByTagName(s)[0];
                 if (d.getElementById(id)) {return;}
                 js = d.createElement(s); js.id = id;
                 js.src = "//connect.facebook.net/en_US/sdk.js";
                 fjs.parentNode.insertBefore(js, fjs);
               }(document, 'script', 'facebook-jssdk'));

            document.getElementById('shareBtn').onclick = function() {
              // FB.ui({
              //   method: 'share',
              //   mobile_iframe: true,
              //   href: 'http://www.liveqoupon.com/<%=store_path(@store)%>',
              //   hashtag:'#Qoupon'
              // }, function(response){});
              var url = "https://www.facebook.com/dialog/share"+ 
                "?app_id=1795893413990726"+
                "&display=popup"+
                "&mobile_iframe=true"+
                "&href="+"http://www.liveqoupon.com<%=store_path(@store)%>"+"&redirect_uri="+"http://www.liveqoupon.com<%=user_coupon_path(current_user,@coupon)%>"+"&picture="+"<%=@store.store_cover_photo.thumb.url%>"+"&title="+"<%=@store.store_name%>的最新優惠<%=@coupon.coupon_title%>"+"&description=【 Qoupon|Q胖 】用朋友的上一餐，找到你的下一餐！";
              location.href = url;
            }
            // $(document).ready(function(){
            //    $("head").append('<meta property="og:image" content="<%=@store.store_cover_photo.thumb.url%>">');
            // });

            </script>

      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn orange-btn">Save changes</button>
      </div> -->
    </div>
  </div>
</div>
