<%if @coupon.user.present?%>
  <div class="container coupon-width">
    <div class="row coupon-bg">
        <div class="col-sm-6 p-x-0 text-xs-center" id="coupon-pic">
          <%=image_tag @coupon.root.coupon_pic.thumb.url,class:" background-white p-t-0 w-100"%>
        </div>

      <div class="col-sm-6" id='coupon-content'>
        <div id='coupon-con'>
          <h5><%= @coupon.coupon_title %></h5>
          <div>
            <p><%=@store.store_city%> <span><%= link_to store_path(@store) do%><%=@store.store_name%><%end%></span></p>
            <p>贈送人：<%= distributor(@coupon)%></p>
            <p>狀態：<%= coupon_status(@coupon)%></p>
            <p>商品：<%=@coupon.item%></p>
            <%if @coupon.expiry_date-Date.today>0%>
              <p>到期日：<%=@coupon.expiry_date%></p>
            <%end%>
            <p>您已發送給朋友的張數：<%=@coupon.distributed_number%></p>
            <p class="m-t-1 m-b-1" id='money'><%=(@coupon.computed_discount*10.0).round(2)%>折</p>
            <div>
              <%if coupon_distributed_number(@coupon) && coupon_status(@coupon)=="可使用"%>
                <button type="button" data-toggle="modal" data-target="#send-Modal">發送</button>
                <button type="button" data-toggle="modal" data-target=".bd-example-modal-sm">兌換</button>
              <%elsif coupon_status(@coupon)=="可使用"%>
                <button type="button" data-toggle="modal" data-target=".bd-example-modal-sm">兌換</button>
              <%end%>
               <button type="button" data-toggle="modal" data-target="#myModal">分享</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12" id='coupon-notice'>
        <div>
          <h6><span>使用說明</span>：</h6>
          <ol>
            <%if !coupon_distributed_number(@coupon)%>
              <li>您已經發送給五位朋友，因此無法再進行發送</li>
            <%elsif @coupon.computed_discount<=@coupon.discount_ceiling_amount%>
              <li>您仍可以發送優惠卷，但本張優惠卷已達折數上限，因此不會再獲得更多折扣</li>
            <%elsif @coupon.used%>
              <li>您已使用過本張優惠卷，無法繼續使用</li>
            <%elsif coupon_status(@coupon)=='已過期'%>
              <li>您的優惠卷已過期，無法進一步使用</li>
            <%end%>
            <li>每增加一人使用增加<%=(@coupon.discount)*100 %>%折扣</li>
            <li>最多可以發放給五位好友</li>
          </ol>
        </div>
        <div>
          <h6><span>注意事項</span>：</h6>
          <ol>
            <li><%= @coupon.other_content.present? ? simple_format(@coupon.other_content) : "無"%></li>
          </ol>
        </div>
        <div>
          <h6><span>已使用您所發送之優惠卷的朋友</span>：</h6>
          <ol>
            <li>
            <%if @used_descendants.present?%>
              <%@used_descendants.each do |used_des|%>
                <%=link_to user_path(used_des.user) do%>
                  <%=image_tag used_des.user.avatar.url||"avatar.jpg", class: 'avatar coupon-profile-pic'%>
                  <%=used_des.user.name%>
                <%end%>
                <br>
              <%end%>
            <%else%>
              <p>無</p>
            <%end%>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="send-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h6 class="modal-title">發送給你的朋友</h6>
        </div>
        <div class="modal-body">
          <%if coupon_status(@coupon)=="可使用"%>
              <div class="form-group coupon-list">
                <%if @friends_array.present?%>
                  <%= form_tag distribute_user_coupon_path(current_user,@coupon) do %>
                    <%= select_tag :receiver_id,options_for_select(@friends_array,@friends_array[0]),class:"form-control select-unvisible",size:"5"%>
                    <div class="modal-footer">
                      <%= submit_tag "傳送", class: 'btn orange-btn-nm' %>
                    </div>
                  <% end %>
                <%else%>
                  <p>您目前還沒有可發放優惠卷的粉絲或追蹤者，趕快搜尋看看你可能認識的人吧</p>
                <%end%>
            </div>
          <%end%> 
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-width">
      <div class="modal-content">
          <button type="button" class="close p-r-1 p-t-1" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="text-xs-left p-t-2 p-b-2 qrcode-modal">
            <h5>QR code</h5>
            <%if coupon_status(@coupon)=="可使用"&&@coupon.qr_code.present?%>
              <%=image_tag @coupon.qr_code.url, class:"qrcode" %>
              <div class="text-xs-center">
              <!-- <button class="orange-btn">下載儲存此QRCode</button> -->
                <button class="orange-btn-nm"><%= link_to "下載儲存此QRCode", download_path(current_user,@coupon) %></button>
              </div>
            <%else%>
              <p>基於某些原因，您無qrcode，請通知客服人員：0912-030-121 陳專員</p>
            <% end %>
            
          </div>
      </div>
    </div>
  </div>

  <div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">分享優惠券</h4>
        </div>
        <div class="modal-body text-xs-center">
              <h6 class="">優惠分享到臉書</h6>
              <div id="shareBtn" class="orange-bg-btn btn clearfix">Share to FB</div>
              
              <div class="or">
                <span class="or-line"></span>
                <span class="or-word">or</span>
                <span class="or-line"></span>
              </div>
              
              <%= render 'posts/form_without_ajax' %>

              <script>
                window.fbAsyncInit = function() {
                  FB.init({
                    appId      : '1795893413990726',
                    xfbml      : true,
                    version    : 'v2.7'
                  });
                };

                (function(d, s, id){
                   var js, fjs = d.getElementsByTagName(s)[0];
                   if (d.getElementById(id)) {return;}
                   js = d.createElement(s); js.id = id;
                   js.src = "//connect.facebook.net/en_US/sdk.js";
                   fjs.parentNode.insertBefore(js, fjs);
                 }(document, 'script', 'facebook-jssdk'));

              document.getElementById('shareBtn').onclick = function() {
                var url = "https://www.facebook.com/dialog/share"+ 
                  "?app_id=1795893413990726"+
                  "&display=popup"+
                  "&mobile_iframe=true"+
                  "&href="+"http://www.liveqoupon.com<%=store_path(@store)%>"+"&redirect_uri="+"http://www.liveqoupon.com<%=user_coupon_path(@coupon)%>"+"&picture="+"<%=@coupon.root.coupon_pic.url%>"+"&title="+"【 <%=@store.store_name%>】最新優惠<%=@coupon.coupon_title%>"+"&description=【 Qoupon|Q胖 】用朋友的上一餐，找到你的下一餐！";
                location.href = url;
              }
              </script>

        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn orange-btn">Save changes</button>
        </div> -->
      </div>
    </div>
  </div>
<%else%>

<div class="background-white store-coupon col-xs-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
  <h5 class="p-t-1 p-b-1 coupon-store-name text-xs-center"><%=@coupon.coupon_title%></h5>
  <hr class="p-b-1">
  <div class="col-sm-8 p-l-0">
    <%=image_tag @coupon.root.coupon_pic.thumb.url,class:" background-white p-t-0 w-100"%>
  </div>
  <div class="col-sm-4 coupon-store-content">
    <div class="p-b-1">
      <span>
        <%= link_to store_path(@store) do%>
          <%=@store.store_name%>
        <%end%>
      </span>
    </div>
    <div class="c"><span>商品：<%=@coupon.item%></span></div>
    <div class="c"><span>狀態：<%= coupon_status(@coupon)%></span></div>
    <div class="c"><span>地點：<%=@store.store_city%></span></div>
    <div class="c"><span>
      <%if @coupon.expiry_date-Date.today>0%>
        到期日：<%=@coupon.expiry_date%>
      <%end%>
    </span></div>
    <div class="d"><span><%=@coupon.computed_discount*10 %>折</span></div>
  </div>

  <div class="col-xs-12 store-sup m-y-2">
    <div class="m-b-2 p-t-1">
      <span class="store-info p-y-0">
        店家訊息
      </span>
      <%if signed_in?%>
        <span id="store-<%= @store.id %>">
          <span class="follow p-t-0 pull-right">
            <%= render 'follows/store_form', store: @store %>
          </span>
        </span>
      <%end%>
    </div>
    <div class="c p-b-1"><span>營業時間：<br><%= @store.store_time %></span></div>
    <div class="c p-b-2"><span>商家簡介：<br><%= simple_format(@store.store_about) %></span></div>

  </div>

</div>


<%end%>
