<p id="notice"><%= notice %></p>
<table class="table">
    <tr>
      <td><b>Coupon id</b></td>
      <td><b>標題</b></td>
      <td><b>贈送人</b></td>
      <td><b>目前累積折數</b></td>
      <td><b>使用說明</b></td>
      <td><b>注意事項</b></td>
    </tr>
    <tr>
      <td><%= @coupon.id %></td>
      <td><%= @coupon.coupon_title %></td>
      <td><%= @distributor_name %></td>
      <td><%=(1-@coupon.computed_discount)*10 %>折</td>
      <td>1. 每增加一人使用增加<%=(@coupon.discount)*100 %>%折扣<br>
          2. <%if  @coupon.condition_type==1%>
                消費滿<%= @coupon.condition_content%>才可使用
             <%elsif  @coupon.condition_type==2%>
                凡來店消費即享本折價卷優惠
              <%elsif  @coupon.condition_type==3%>
                特定對象如:<%= @coupon.condition_content%>才可使用
              <%else%>
                
              <%end%>  
      </td>
      <td><%=@coupon.other_content%></td>
    </tr>
</table> 
發送此優惠卷:

 <%= form_tag distribute_user_coupon_path do %>
    <div class="form-group">
      <% follows_array = @followers.map { |follower| [follower.name, follower.id] } %>
      <%= select_tag(:receiver_id,options_for_select(follows_array))%>
    </div>
    <%= submit_tag "傳送", class: 'btn btn-primary' %>
<% end %>

<%= link_to '兌換(顧客按的)', redeem_user_coupon_path(@user,@coupon) %> 
<%#= link_to 'Edit', edit_user_coupon_path(@user,@coupon) %> 
<%= link_to '回列表', user_coupons_path(@coupon.user)%>
