<div class="container coupon-width">
  <div class="row">
      <div class="col-sm-6" id="coupon-pic">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel"><ol class="carousel-indicators"><%@store.store_photo.each_with_index do |pic,index|%><li data-target="#carousel-example-generic" data-slide-to="<%=index%>" class="<%=coupon_carousel_active(index)%>"></li><%end%></ol><div class="carousel-inner" role="listbox"><%@store.store_photo.each_with_index do |pic,index|%><div class="carousel-item <%=coupon_carousel_active(index)%>"><div class="text-xs-center coupon-many-pic"><%=image_tag pic,style:"height:236px;"%></div></div><%end%></div><a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="icon-prev" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a><a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="icon-next" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>

    <div class="col-sm-6" id='coupon-content'>
      <div id='coupon-con'>
        <h5><%= @coupon.coupon_title %></h5>
        <div>
          <p>文山區 <span><%= link_to store_path(@store) do%><%=@store.store_name%><%end%></span></p>
          <p>贈送人：<%= distributor(@coupon)%></p>
          <p>狀態：<%= coupon_status(@coupon)%></p>
          <p>商品：<%=@coupon.item%></p>
          <p class="m-t-1 m-b-1" id='money'><%=@coupon.computed_discount*10 %>折</p>
          <div>
            <%if coupon_status(@coupon)=="可使用"%>
              <button type="button" data-toggle="modal" data-target="#send-Modal">發送</button>
              <button type="button" data-toggle="modal" data-target=".bd-example-modal-sm">兌換</button>

            <%end%>
             <button>分享</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12" id='coupon-notice'>
      <div>
        <h6><span>使用說明</span>：</h6>
        <ol>
          <li>每增加一人使用增加<%=(@coupon.discount)*100 %>%折扣</li>
        </ol>
      </div>
      <div>
        <h6><span>注意事項</span>：</h6>
        <ol>
          <li><%=@coupon.other_content%></li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="send-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h6 class="modal-title">發送給你的朋友</h6>
      </div>
      <div class="modal-body">
        <%if coupon_status(@coupon)=="可使用"%>
          <%= form_tag distribute_user_coupon_path do %>
            <div class="form-group">
              <%= select_tag :receiver_id,options_for_select(@friends_array),class:"form-control"%>
            </div>
      </div>
      <div class="modal-footer">
            <%= submit_tag "傳送", class: 'btn btn-secondary' %>
          <% end %>
         <%end%> 
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!--  -->
<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-width">
    <div class="modal-content">
        <button type="button" class="close p-r-1 p-t-1" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="text-xs-left p-t-2 p-b-2 qrcode-modal">
          <h5>QR code</h5>
          <%if coupon_status(@coupon)=="可使用"%>
            <%=image_tag @coupon.qr_code, class:"qrcode" %>
          <% end %>
          <div>
            <button class="orange-btn">下載儲存此QRCode</button>
          </div>
        </div>
    </div>
  </div>
</div>
