<div>
  <h5><%=@coupon.coupon_title%></h5>
  <p class="m-b-0 p-l-1"><%= link_to '優惠券發放管理',admin_store_coupons_path %> / 篩選</p>
  
  <div class="background-white p-t-1 p-l-1 m-t-1 ">
    <h5 class="m-b-2">篩選推廣優惠卷</h5>
    <p>目前推廣優惠卷數： <%=@coupon.descendants.size%></p>
    <p>由商家推廣優惠卷數： <%=@coupon.children.size%></p>
    <p>由顧客推廣優惠卷數： <%=@coupon.descendants.size-@coupon.children.size%></p>
  </div>
  
  <%=form_for [@current_store,@coupon,@search] , url:admin_store_coupon_searches_path do |f|%>
  	<div class="background-white p-t-1 p-l-1 p-b-1 coupon-recommand">
      <h5 class="m-b-2">設定篩選條件</h5>
      <div class="field">
        性別：
        <%= f.select :gender,"<option value='male'>男性</option><option value='female'>女性</option>".html_safe,{}, class: 'form-control' %>
      </div>
      <div class="field">
        地區：
        <%= f.select :location,  options_for_select(city_array,f.object.location),{}, class: 'form-control' %>
      </div>
      <div class="field">
        年齡區間
        <%= f.number_field :min_age,:value=>18, :class=>'coupon-recommand-year' %>～
        <%= f.number_field :max_age,:value=>60, :class=>'coupon-recommand-year' %>
      </div>
      <div class="field">
        粉專關係條件：
        <span class="coupon-recommand-fans">
          <span class="m-t-1">
            <%=f.radio_button 'relation', 2,:checked=>true%>
            <%=f.label :relation, "所有人"%>
          </span>
          <span>
            <%=f.radio_button 'relation',1%>
            <%=f.label :relation, "沒有追蹤粉專"%>
          </span>
          <span>
            <%=f.radio_button 'relation', 0%>
            <%=f.label :relation, "有追蹤粉專"%>
          </span>
        </span>
      </div>
    </div>
    <div class="actions text-xs-right">
      <%= f.submit "篩選" ,:class=> 'admin-btn-orange'%>
      <%= link_to "返回", admin_store_coupons_path(@current_store) ,:class=> 'admin-btn-grey coupon-recommand-save'%>
    </div>
  <% end %>

</div>