<div">

<h5>篩選結果</h5>

<div>總人數：<%=@search.search_users(@current_store,@coupon).size%></div>

<%=form_tag admin_send_path(@current_store,@coupon),:method=>:post do%>
選擇發放數量：
<%=number_field_tag :people, 0 ,class:"people-amount",min: 0, max: min_between_coupon_and_search(@search.search_users(@current_store,@coupon).size,@coupon.admin_coupon_limit)%>
<%= hidden_field_tag :range,@search.search_users(@current_store,@coupon).map(&:id)%>
<%= submit_tag "發送",class:"orange-bg-btn" %>
<%end%>

<div class="m-t-1">
	篩選結果：
	<%@search.search_users(@current_store,@coupon).each do |s|%>
  		<%=s.name%>
	<%end%>
</div>

</div>
<%#= link_to "返回", new_admin_store_coupon_search_path %>