<% if user_signed_in? %>
  <div class="actions">
    <div class="row">
      <div class="col-xs-6 like">
        <%= render 'likes/form', likeable: resource %>
      </div>
      <div class="col-xs-6 comment-<%=resource.id%>">
        <div>
           <!--傳ror變數到js(home.js)-->
          <%= button_tag '#', :class=>"vendor-link btn btn-block", data:{id:resource.id} do%>
            <%= fa_icon 'comment' %> comment
          <% end %>
        </div>
      </div>
      <div id="comment-form-<%=resource.id%>" class="comment-form">
        <%= render 'comments/form', commentable: resource %>

          <br>
          <div class="comments">
            <%= render(resource.comments.all,commentable:resource)%>
          </div>
      </div>
    </div>
  </div>
<% end %>

   

