
  <div class="background-white text-xs-center p-x-1">
    <%=fa_icon 'home' ,class:"initial-post"%>
    <h5>歡迎使用Qoupon!</h5>
    <p> 全台最大優惠卷分享社群</p>
  </div>

<%= link_to faq_path do %>
  <div class="background-white text-xs-center p-x-1">
    <%=fa_icon 'flag' ,class:"initial-post"%>
    <h5 >使用小叮嚀</h5>
    <p>您目前可以至商店街追蹤店家獲得最新消息及優惠卷！<br>拿著這裡的優惠卷至合作商家，當次消費即可獲得優惠並且附贈最新優惠卷~<br>你還在等什麼？</p>
  </div>
<%end%>
<%= link_to faq_path do %>
  <div class="background-white text-xs-center p-x-1">
    <%=fa_icon 'flag' ,class:"initial-post"%>
    <h5>使用小叮嚀趴兔</h5>
    <p> 除了從店家獲得優惠卷，你還可以跟朋友索取，以及發送給朋友~<br>只要分享優惠卷給朋友，經過朋友使用後自己的折數就會增加喔！<br>你還在等什麼？趕快搜尋朋友的名字吧</p>
  </div>
<%end%>