<div class="card-deck-wrapper">
  	<div class="card-deck"> 
		<%@coupons.each do |coupon|%>
			<div class="card">
				<%= link_to  user_coupon_path(coupon) do%>
					<%=image_tag coupon.coupon_pic.thumb.url||'avatar2.jpg', class:"card-img-top" %>
					<div class="card-block text-xs-center">
						<p><%=coupon.store.store_name%></p>
						<h5 class="m-b-0"><%=coupon.coupon_title%></h5>
						<p class="text-muted"><%=coupon.store.store_city%></p>
					</div>
					<%end%>
				</div>
		<%end%>
		<%= render 'shared/paginate', resources: @coupons %>
	</div>
</div>