<div class="home-content">
<div class="col-md-2 home-self col-lg-3">
  <div class=" background-white home-block">
    <span class="home-profile">
      <%=render 'shared/avatar', user: current_user %>
    </span>
      <div class="home-self-name">
        <h5><%= link_to current_user.name, current_user %></h5>
        <div>
        <%= link_to followers_user_path(current_user) do%>
          <%=current_user.followers_count%>位粉絲
        <%end%>
        </div>
        <div>
        <%= link_to friends_user_path(current_user) do%>
          追蹤<%=current_user.following_users_count%>人
        <%end%>
        </div>
      </div>
  </div>
  <div class="background-white home-block">
    <h6>
      關於我
      <%= link_to edit_user_path(current_user),class:"pull-xs-right" do%>
        <% fa_icon 'pencil'%>
      <%end%>
    </h6>
    <%if current_user.about.present?%>
      <%=current_user.about%>
    <%else%>
      <%= link_to edit_user_path(current_user) do%>
        用一段話描述自己~
      <%end%> 
    <%end%>
<!--<h6 class="p-t-1">追蹤朋友</h6>
    <p>放朋友大頭貼</p> -->
  </div>
  <div class="background-white home-block home-recommand-store">
    <h6> 推薦的商家</h6>
    <%if @like_stores.present?%>
      <%#%>
      <%@commend_store.each do |store|%>
        <%= link_to  store_path(store) do %>
          <div class="home-like-eachStore">
            <div class="home-store-pic">
              <%=image_tag store.store_cover_photo.thumb.url||'avatar.jpg',class:"avatar" %>
            </div>
            <div class="home-like-part">
              <p class="m-b-0 home-store-about-title"><strong><%#=store.store_name%></strong></p>
              <p class="m-b-1 home-store-about"><%#=store.store_about%></p>
            </div>
          </div>
        <%end%>
      <%end%>
<!--       <div class="text-xs-center">
        <%#= link_to  stores_user_path(current_user) do%>
          更多<i class="fa fa-angle-down icon"></i>
        <%#end%>
      </div> -->
    <%#else%>
      <%#=render('shared/no_resource', resources: '喜愛商家') %>
    <%end%>

  </div>
</div>

<div class="col-md-8 col-lg-6">
  <div id="post-form" class="background-white container-fluid">
    <%= render 'posts/form' %>
  </div>

  <div id="activities">
    <%if @activities.present?%>
      <%= render_activities(@activities, layout: '/shared/activity')%>
    <%else%>
      <%=render "shared/initial_post"%>
    <%end%>
  </div>

  <%= render 'shared/paginate', resources: @activities %>
</div>
<div class="col-md-2 col-lg-3 background-white home-like-store">
  <h6>喜歡的商家</h6>
  <%if @like_stores.present?%>
    <%@like_stores.each do |store|%>
      <%= link_to  store_path(store) do %>
        <div class="home-like-eachStore">
           <span class="home-like-img"><%=image_tag store.store_cover_photo.thumb.url||'avatar.jpg',class:"avatar"%></span>
          <span class="home-like-name"><%=store.store_name%></span>
        </div>
      <%end%>
    <%end%>
    <hr>
    <div class="text-xs-center">
      <%= link_to  stores_user_path(current_user) do%>
        更多<i class="fa fa-angle-down icon"></i>
      <%end%>
    </div>
  <%else%>
    <%=render('shared/no_resource', resources: '喜愛商家') %>
  <%end%>
</div>
<!-- </div> -->

<!--   <script>

var pusher = new Pusher('9f9b0db2bcf535c9126b', {disableStats: true } ); // uses your APP KEY
var channel = pusher.subscribe("private-"+<%=current_user.id%>);
channel.bind('greet', function(data) {
  var new_activity=data.comment;
  console.log(new_activity);

  
  $.ajax({
    url:'/commenters/'+data.comment.id,
    success:function(html){ console.log(html);$('body').append(html);
    },
    error: function(xhr) {alert('Ajax request 發生錯誤');console.log(xhr);}
    //http://stackoverflow.com/questions/31143415/rendering-an-object-passed-through-pusher-in-rails
  });

});



// Some useful debug msgs
        pusher.connection.bind('connecting', function() {
          console.log('Connecting to Pusher...');
        });
        pusher.connection.bind('connected', function() {
          console.log('Connected to Pusher!');
        });
        pusher.connection.bind('failed', function() {
          console.log('Connection to Pusher failed :(');
        });
        channel.bind('subscription_error', function(status) {
          console.log('Pusher subscription_error');
        });
  </script>