<div class="col-md-2 col-lg-3">
  <%=render 'shared/avatar', user: current_user%>
  <%= link_to current_user.name, current_user %>
  <%= link_to followers_user_path(current_user) do%><%=current_user.followers_count%>位粉絲<%end%> 
  <%= link_to friends_user_path(current_user) do%>追蹤<%=current_user.following_users_count%>人<%end%>
  <h6>關於我</h6>
  <%= link_to edit_user_path(current_user),class:"pull-xs-right" do%>
    <% fa_icon 'pencil'%>
  <%end%> 
  <%=current_user.about%>     
</div>

<div class="col-md-8 col-lg-6">
  <div id="post-form" class="background-white container-fluid">
    <%= render 'posts/form' %>
  </div>

  <div id="activities">
   <%= render_activities(@activities, layout: '/shared/activity') %>
  </div>

  <%= render 'shared/paginate', resources: @activities %>
</div>
<div class="col-md-2 col-lg-3">
<h6>喜歡的商家</h6>
  <%@like_stores.each do |store|%>
    <%= link_to  store_path(store) do %>
      <%=image_tag store.store_cover_photo.thumb.url,class:"avatar"%>
      <%=store.store_name%>
    <%end%>
  <%end%>
</div>


<!--   <script>

var pusher = new Pusher('9f9b0db2bcf535c9126b', {disableStats: true } ); // uses your APP KEY
var channel = pusher.subscribe("private-"+<%=current_user.id%>);
channel.bind('greet', function(data) {
  var new_activity=data.comment;
  console.log(new_activity);

  
  $.ajax({
    url:'/commenters/'+data.comment.id,
    success:function(html){ console.log(html);$('body').append(html);
    },
    error: function(xhr) {alert('Ajax request 發生錯誤');console.log(xhr);}
    //http://stackoverflow.com/questions/31143415/rendering-an-object-passed-through-pusher-in-rails
  });

});



// Some useful debug msgs
        pusher.connection.bind('connecting', function() {
          console.log('Connecting to Pusher...');
        });
        pusher.connection.bind('connected', function() {
          console.log('Connected to Pusher!');
        });
        pusher.connection.bind('failed', function() {
          console.log('Connection to Pusher failed :(');
        });
        channel.bind('subscription_error', function(status) {
          console.log('Pusher subscription_error');
        });
  </script> -->