<%=render "coupon_front_and_offical"%>
<footer>
        <div>
            <div class="spacing">
                <a href="https://www.facebook.com/"><%= image_tag 'fb_icon.png'%></a>
                <a href=""><%= image_tag 'ig_icon.png'%></a>
                <a href="https://www.youtube.com/watch?v=dY7X5rWUbbA&feature=youtu.be"><%= image_tag 'youtube_icon.png'%></a>
                <a href=""><%= image_tag 'twitter_icon.png'%></a>
            </div>
            <ul class="spacing">
                <li><a href="">首頁</a></li>
                <li><%= link_to'我的優惠券', user_coupons_path(@user) %></li>
                <li><%= link_to'FAQ', faq_path %></li>

                <li><a href="">瞭解更多</a></li>
            </ul>
            <h5 class="spacing m-b-1">聯絡我們</h5>
            <p class="spacing">客服電話：0912-030-121</p>
            <p class="spacing">電子信箱：qoupon2016@gmail.com</p>
            <hr>
            <copyright>&copy; 2016 Qoupon</copyright>
        </div>
    </footer>   