
<%#=render 'officalpagebar'%>

<div class="official-max">
<div class="col-xs-12 text-xs-center p-b-3">
	<%=image_tag 'cake.png', style:'width:70%;' %>
</div>
<div class="col-xs-12 part-orange-bg m-b-2 p-b-2 p-t-2">
	<h5 class="text-xs-center p-b-1"><strong>熱門優惠</strong></h5>
	<%@stores_last.each do |store|%>
		<div class="col-md-4 col-sm-6 col-xs-10 offset-xs-1 offset-sm-0 text-xs-center">
			<%=image_tag store.store_cover_photo.url||'avatar2.jpg', class:'office-img' %>
			<div class="office-bg-white">
			<p class="m-b-0"><%=store.store_name%></p>
			<h5 class="m-b-0"><%=store.coupons.last.root.coupon_title if store.coupons.present? %></h5>
			<p class="m-b-0 office-city"><%=store.store_city%></p>
			</div>
		</div>
	<%end%>
</div>

<div class="col-xs-12 m-b-2 p-b-2 p-t-2">
	<h5 class="text-xs-center">最新優惠</h5>
	<%@stores_first.each do |store|%>
		<div class="col-md-4 col-sm-6 col-xs-10 offset-xs-1 offset-sm-0 text-xs-center">
			<%=image_tag store.store_cover_photo.url||'avatar2.jpg', class:'office-img' %>
			<div class="office-bg-white">
			<p class="m-b-0"><strong><%=store.store_name%></strong></p>
			<h5 class="m-b-0"><strong><%=store.coupons.last.root.coupon_title if store.coupons.present? %></strong></h5>
			<p class="m-b-0 office-city"><%=store.store_city%></p>
			</div>
		</div>
	<%end%>
</div>

<div class="col-xs-12 part-orange-bg m-b-2 p-b-2 p-t-2">
	<h5 class="text-xs-center">名人推薦</h5>
	<div class="col-sm-6 col-md-5 offset-md-1 col-lg-4 offset-lg-2">
	<%=image_tag 'recommand_food.jpg', class:"w-100"%>
	</div>

	<div class="col-sm-6 col-md-5 col-lg-4 p-x-0 part-white-bg">
		<div class="text-xs-center p-t-2 p-x-0">
			<%= image_tag 'yawen.jpg' %>
			<h5 class="m-t-2">CORNER TEA TIME</h5>
		</div>
		<div class="p-x-1">
			<hr>
			<span>人氣部落客Yawen的口袋名單大公開！一吃就會愛上的特色餐廳</span>
			<%= link_to "more>>", recommend_path %>
		</div>
	</div>
</div>

<div>
	<h5 class="text-xs-center">多人推薦</h5>
</div>

</div>