<div class="col-md-3"></div>
<div class="col-md-6 col-xs-12 follow-block">
	<h5 class="m-t-1 m-l-1">搜尋結果</h5>
	<hr>
	<h6 class="m-l-1 m-t-1">人物</h6>
	<%if @results.present?%>
		<%@results.each do |user|%>
			<div id="user-<%= user.id %>" class="follow-friend-block p-l-1">
				<%= link_to user_path(user),class: "nav-link"  do %>
					<%=image_tag user.avatar.url || 'avatar.jpg', class: "photo-sticker",style:"width:50px;"%>
					<%=user.name%>
				<%end%>
				<%if user!=current_user%>
					<span class="pull-right m-r-1">
					<%=render "follows/form",user:user %>
					</span>
				<%end%>
			</div>
		<%end%>
	<%else%>
		<p class="m-l-1">找不到相關資料</p>
		<hr>
	<%end%>	
	
	<h6 class="m-l-1 m-t-1">店家</h6>
		<%if @results_store.present?%>
		<%@results_store.each do |store|%>
			<div id="store-<%= store.id %>" class="follow-friend-block p-l-1">
				<%= link_to store_path(store),class: "nav-link"  do%>
						<%=image_tag store.store_cover_photo.thumb.url || 'avatar.jpg', class: "photo-sticker",style:"width:50px;"%>
						<%=store.store_name%>
				<%end%>
				<span class="pull-right m-r-1">
					<%= render 'follows/store_form', store: store %>
				</span>
			</div>
		<%end%>
		<%= render 'shared/paginate', resources: @results %>
		<%= render 'shared/paginate', resources: @results_store %>
	<%else%>
		<p class="m-l-1">找不到相關資料</p>
	<%end%>
</div>