<div class="col-md-3"></div>
<div class="col-md-6 col-xs-12 follow-block">
	<h5 class="m-t-1 m-l-1">搜尋結果</h5>
	<%if @results.present?||@results_store.present?%>
		<%@results.each do |user|%>
			<div id="user-<%= user.id %>" class="follow-friend-block p-l-1">
				<%= link_to user_path(user),class: "nav-link"  do %>
					<%=image_tag user.avatar.url || 'avatar.jpg', class: "photo-sticker",style:"width:50px;"%>
					<%=user.name%>
				<%end%>
				<%if user!=current_user%>
					<%=render "follows/form",user:user %>
				<%end%>
			</div>
		<%end%>
		<%@results_store.each do |store|%>
			<div id="store-<%= store.id %>" class="follow-friend-block p-l-1">
				<%= link_to store_path(store),class: "nav-link"  do%>
						<%=image_tag store.store_cover_photo || 'avatar.jpg', class: "photo-sticker",style:"width:50px;"%>
						<%=store.store_name%>
						<%= render 'follows/store_form', store: store %>
				<%end%>
			</div>
		<%end%>
	<%else%>
		<p>找不到相關資料</p>
	<%end%>
</div>