<%= form_for(admin_store) do |f| %>
  <% if admin_store.errors.any? %>
    <div id="error_explanation">
      <h2><%=admin_store.errors.count %> 個欄位未填</h2>

      <!-- <ul> -->
      <%# admin_store.errors.full_messages.each do |message| %>
        <!-- <li><%#= message %></li> -->
      <%# end %>
      <!-- </ul> -->
    </div>
  <% end %>

  <div class="store-info-block ">
    <h5>商家簡介</h5>
    <div class="field p-l-2">
      <div class="store-info">商店名稱：</div>
      <%= f.text_field :store_name %>
    </div>
    <div class="field p-l-2">
      <div class="store-info">商店類型:</div>
       <%= f.select :store_type, options_for_select(store_type_array,f.object.store_type),{}%>
    </div>
    <div class="field p-l-2">
      <div class="store-info">簡介：</div>
      <%= f.text_area :store_about %>
    </div>
  </div>

  <div class="store-info-block">
    <h5>商家資訊</h5>
    <div class="field p-l-2">
      <div class="store-info">商店電話:</div>
      <%= f.telephone_field :store_phone %>
    </div>

    <div class="field p-l-2">
      <div class="store-info">商店位置:</div>
      <%=f.select :store_city, options_for_select(city_array,f.object.store_city),{},{ :class => 'store-info-city' }%>
      <%=f.text_field :store_address ,{ :class => 'store-info-address' } %>
    </div>
    <div class="field p-l-2">
      <div class="store-info">營業時間:</div>
      <%= f.text_area :store_time %>
    </div>
    <div class="field p-l-2">
      <div class="store-info">店內一般規定:</div>
      <%= f.text_area :store_rule %>
    </div>
  </div>

  <div class="store-info-block">
    <h5>商家照片</h5>
    <div class="field p-l-2">
      <div class="store-info">店家大頭貼上傳</div>
      <%= f.file_field :store_cover_photo%>
      <%=image_tag @admin_store.store_cover_photo,class:"avatar"%>
    </div>
    <div class="field p-l-2">
      <div class="store-info">照片上傳</div>
      <%= f.file_field :store_photo, multiple: true %>
      <%@admin_store.store_photo.each do |x|%>
        <%=image_tag x.url,class:"avatar"%>
      <%end%>
    </div>
  </div>

  <div class="actions text-xs-right p-b-2">
    <%= f.submit '儲存資訊', :class=> 'store-info-save' %>
  </div>

<% end %>
