<% content_for :javascript do %>
  <%= javascript_include_tag "admin/stores" %>
<% end %> 
<h5>裁切店家大頭貼</h5>
<%= image_tag @admin_store.store_cover_photo.url, id: "cropbox"%>
<h6>預覽</h6>
<div style="width:300px; height:240px; overflow:hidden">
  <%= image_tag @admin_store.store_cover_photo.url, :id => "preview" %>
</div>


<%= form_for @admin_store do |f| %>
  <% %w[x y w h].each do |attribute| %>
    <%= f.hidden_field "crop_#{attribute}" %>
  <% end %>
  <div class="actions">
    <%= f.submit "確認裁切",class:"orange-bg-btn" %>
  </div>
<% end %>

