<div class="admin-first-block m-b-3">
	<%=image_tag 'intro-photo.png',class:'w-100'%>
	<div class="admin-first-word">
		<h5 class="title">Qoupon</h5>
		<h5 class="subtitle subtitle1">新增你專屬的</h5>
		<h5 class="subtitle subtitle1">優惠券</h5>
		<p class="subtitle subtitle2">暸解詳情</p>
	</div>
</div>

<div class="row admin-row">
	<div class="col-xs-12 text-xs-center">
		<h5 class="p-b-1">QOUPON讓每個顧客成為您商店的推廣人！</h5>
		<h6>顧客不再只是顧客，Ｑoupon重新定義您和顧客的關係！</h6>
		<h6 class="p-b-3">延伸至顧客的好友，甚至您未曾想過的新族群。</h6>
		<p class="function-intro">功能介紹</p>
		<hr class="function-intro-border m-b-3">	
	</div>

	<div class="col-xs-12 admin-content">
		<div class="col-xs-12 col-sm-6 push-sm-6">
			<%=image_tag "introphoto_first.png",class:'w-100'%>
		</div>
		<div class="col-xs-12 col-sm-6 pull-sm-6 text-sm-right admin-small-word">
			<h5>優惠券輕鬆管理</h5>
			<h5 class="p-b-2">設定推廣輕鬆搞定！</h5>
			<p>透過簡單的操作，您即能輕鬆地設定專屬餐廳優惠券，篩選所有發放對象，一次發送優惠券。操作方便卻能提高您宣傳效益。</p>	
		</div>
	</div>
	
	<hr class="content-divider hidden-sm-up">
	
	<div class="col-xs-12 admin-content">	
		<div class="col-xs-12 col-sm-6 col-sm-pull-6 text-sm-right">
			<%=image_tag "introphoto_second.png",class:'w-100'%>
		</div>
		<div class="col-xs-12 col-sm-6 col-sm-push-6 admin-small-word">
			<h5>分享社群</h5> 
			<h5 class="p-b-2">宣傳互動零距離！</h5>
			<p>藉由您的專屬帳號與顧客互動，拉近你與顧客的距離，串連您與顧客，累積忠實顧客。</h3>
		</div>				
	</div>

	<hr class="content-divider hidden-md-up">
	
	<div  class="col-xs-12 admin-content">
		<div class="col-xs-12 col-sm-6 push-sm-6" >
			<%=image_tag "introphoto_third.png" ,class:'w-100'%>
		</div>
		<div class="col-xs-12 col-sm-6 pull-sm-6 text-sm-right admin-small-word"> 
			<h5>圖像化數據</h5>
			<h5 class="p-b-2">清楚掌握顧客回流！</h5>
			<p>為您紀錄每日訪客數，以圖像話方式呈現，甚至顧客回流與客群分析也能一目了然。掌握銷售與優惠券績效，行銷操作更easy。</p>
		</div>				
	</div>

</div>

<div class="admin-start-qoupon text-xs-center">
	<h5 class="subtitle p-b-2">現在就開始使用Qoupon吧！</h5>
	<div class="admin-sign-btn">
		<% render_admin_link%>
	</div>
</div>

<footer class="m-t-0 admin-footer">
    <div>
        <div class="spacing">
            <a href="https://www.facebook.com/"><%= image_tag 'fb_icon.png'%></a>
            <a href=""><%= image_tag 'ig_icon.png'%></a>
            <a href=""><%= image_tag 'youtube_icon.png'%></a>
            <a href=""><%= image_tag 'twitter_icon.png'%></a>
        </div>
        <ul class="spacing">
            <li><a href="">首頁</a></li>
            <li><a href="">我的優惠券</a></li>
            <li><%= link_to'FAQ', faq_path %></li>
            <li><a href="">瞭解更多</a></li>
        </ul>
        <h5 class="spacing">聯絡我們</h5>
        <p class="spacing">客服電話：0912-030-121 電子信箱：qoupon2016@gmail.com</p>
        <hr>
        <copyright>&copy; 2016 Qoupon</copyright>
    </div>
</footer>