2016/11/28~2016/12/19<br>
上線後新增追蹤人數：<%=@week_followers.size%>

<table class="table table-striped">
  <thead  style="background-color:rgb(240, 138, 93);color:white;">
    <tr>
      <td>發布日期</td>
      <td>貼文</td>
      <td>按讚數</td>
      <td>留言數</td>
    </tr>
  </thead>
  <tbody>
    <%@store_posts.each do |x|%>
      <tr>
        <td><%=x.created_at.to_date%></td>
        <td><%=truncate(x.content.html_safe,length:33)%></td>
        <td><%=x.votes_for.up.size%></td>
        <td><%=x.comments.size%></td>
      </tr>
    <%end%>
    <tr>
      <td colspan="2">總計</td>
      <td><%=@gender_vote[0]+@gender_vote[1]%></td> 
      <td><%=@gender_comment[0]+@gender_comment[1]%></td> 
    </tr>
  </tbody>
</table>
<div style="text-align: center;">
  <div id="container-chart-gender" class="analysis-box" style="max-width: 500px; height: 400px; margin: 0 auto"></div>
  <!-- <br> -->
  <div id="container-chart-age"  class="analysis-box" style="max-width: 500px; height: 400px; margin: 0 auto"></div>
</div>
<% content_for :javascript do %>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>

  <%=render "analysis_diagram",type:"gender",type_chi:"性別",xaxis:@genderxaxis,like:@gender_vote,comment:@gender_comment,follow:@gender_follow%>

  <%=render "analysis_diagram",type:"age",type_chi:"年齡",xaxis:@agexaxis,like:@ages_vote,comment:@ages_comment,follow:@age_follow%>
<%end%>