<div class="background-white devise-box sign-box">
  <div>
    <h5>登入</h5>
    <div class="devise-form">
    <!-- <div class="text-xs-center p-b-1 signin-title">快速登入</div> -->
      <div class="actions p-y-1">
        <%- resource_class.omniauth_providers.each do |provider| %>
          <%= button_to "以 #{provider.to_s.titleize} 登入", omniauth_authorize_path(resource_name, provider),class:"devise-btn devise-normal" %><br />
        <% end %>
      </div>
      <div class="or2">
        <span class="or-line"></span>
        <span class="or-word">或</span>
        <span class="or-line"></span>
      </div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <p>信箱</p>
          <%= f.email_field :email, class:"devise-input devise-normal" %>
        </div>

        <div class="field">
          <p>密碼</p> 
          <%= f.password_field :password, autocomplete: "off", class:"devise-input  devise-normal" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field d-inline-block">
            <%= f.check_box :remember_me %>&nbsp;記住我
          </div>
        <% end -%>
        <div class="field d-inline-block pull-xs-right">
          <%= link_to "忘記密碼？", new_password_path(resource_name) %><br />
        </div>

        <div class="actions">
          <%= f.submit "登入",class:"devise-btn devise-normal" %>
        </div>
      <% end %>
      <!-- <div class="or">或是</div> -->
      <%#- if devise_mapping.omniauthable? %>

      <%#end -%>


    </div>
  </div>
</div>  