
<div class="admin-notification m-b-3">
	<h4 class="m-b-2">資訊公告區</h4>

	<div class="background-white p-x-1 admin-for-new">
		<h4>新手一點通！</h4>
		<div class="admin-for-new-1 admin-for-new-block">
			<span>1.</span>
			<span>填寫店家資料</span>
			<div class="p-t-2">
				填寫店家資料填，提供顧客您的詳細資訊
			</div>
			<%= link_to'填寫資料',edit_admin_store_path(@current_store),class:'admin-btn' %>
		</div>
		<div class="admin-for-new-2 admin-for-new-block">
			<span>2.</span>
			<span>新增商品</span>
			<div class="p-t-2">
				至店家資訊設定新增店家商品，有店家商品才能夠新增優惠卷
			</div>
			<%= link_to '新增商品' ,admin_store_items_path(@current_store),class:'admin-btn'  %>
		</div>
		<div class="admin-for-new-3 admin-for-new-block">
			<span>3.</span>
			<span>新增優惠券</span>
			<div class="p-t-2">
				以上步驟完成後，就可以新增優惠卷啦！
			</div>
			<%= link_to '設定優惠', admin_store_coupons_path(@current_store),class:'admin-btn'  %>
		</div>
	</div>
	<div class="background-white p-x-0 p-t-0 col-xs-12 admin-timeline">
		<div class="col-sm-6 col-xs-12 admin-big-issue ">
			<h4 class="m-t-1">Qoupon大事件</h4>
				<h6>12/19(Mon) Qoupon成果發表會即將登場！</h6>
			<div class="text-xs-center m-b-2">
				<%= image_tag "card.jpg",class:'issue-pic'%>
			</div>
		</div>
		<div class="col-sm-6 col-xs-12 p-x-0">
			<table>
				<tr class="admin-month" ">
					<td colspan="2">2016 12月</td>
				</tr>
				<tr>
					<td>12 / 13</td>
					<td>Qoupon官方特惠已突破200名追蹤者！</td>
				</tr>
				<tr>
					<td>12 / 10</td>
					<td>系統全新改版</td>
				</tr>
				<tr>
					<td>12 / 5</td>
					<td>Qoupon官方特惠已突破70名追蹤者！</td>
				</tr>
				<tr class="admin-month">
					<td colspan="2">2016 11月</td>
				</tr>
				<tr>
					<td>11/28</td>
					<td>小農橋已加入Qoupon，在平台上開賣啦！</td>
				</tr>
				<tr>
					<td>11/25</td>
					<td>Qoupon官方特惠已上線！</td>
				</tr>
			</table>
		</div>
	</div>
</div>


<!-- 註冊使用者 -->

<div style="height:1200px;" class="m-t-3">

	<table class="table">
		<thead>
		    <tr>
		      <th>#</th>
		      <th>Name</th>
		      <th>從哪裡註冊</th>
		      <th>信箱</th>
		      <th>註冊時間</th>
		    </tr>
		</thead>
		<tbody>
		<%@users.each do |user|%>
		    <tr>
		      <th scope="row"><%=user.id%></th>
		      <td><%=user.name%></td>
		      <td><%=user.provider%></td>
		      <td><%=user.email%></td>
		      <td><%=user.created_at%></td>
		    </tr>
		<%end%>
		</tbody>
	</table>
</div>