<div>
<h5 class="m-b-2">Qoupon資訊公告專區</h5>
<%= link_to edit_admin_store_path(@current_store) do %>第一步：至店家資訊設定將店家資料填寫完整，讓顧客可以看見您的詳細資訊<%end%><br>
<%= link_to admin_store_items_path(@current_store) do %>第二步：至店家資訊設定新增店家商品，有店家商品才能夠新增優惠卷<%end%><br>
<%= link_to admin_store_coupons_path(@current_store) do %>第三步：以上步驟完成後，就可以新增優惠卷啦！<%end%>
<p>請靜候...</p>
</div>



<div style="height:1200px;">
<!-- 偷看使用者 -->
	<table class="table">
		<thead>
		    <tr>
		      <th>#</th>
		      <th>Name</th>
		      <th>從哪裡註冊</th>
		      <th>信箱</th>
		      <th>註冊時間</th>
		    </tr>
		</thead>
		<tbody>
		<%@users.each do |user|%>
		    <tr>
		      <th scope="row"><%=user.id%></th>
		      <td><%=user.name%></td>
		      <td><%=user.provider%></td>
		      <td><%=user.email%></td>
		      <td><%=user.created_at%></td>
		    </tr>
		<%end%>
		</tbody>
	</table>
</div>
