<table class="table">
  <thead>
    <tr>
      <td>優惠卷標題</td>
      <td>已兌換</td>
      <td>已持有</td>
      <td>優惠卷兌換率</td>
      <td>兌換折數平均</td>
    </tr>
  </thead>

  <tbody>
	<%@admin_coupons.each do |coupon|%>
	<tr>
		<td><%=coupon.coupon_title%></td>
		<td><%=coupon.descendants.where("used=?",true).size%></td>
		<td><%=coupon.descendants.size%></td>
		<td><%=calculate_rate(coupon)%></td>
		<td><%=@discount%></td>
		</tr>
	<%end%>
	</tbody>
</table>
兌換折數平均
、最多）
發送者的年齡性別地區
索取的年齡性別地區
消費的年齡性別地區
實際領取：線上發送 比例
