<%= form_for @post do |f|%>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
      <h6>優惠訊息分享</h6>
      <%= f.text_area :content, class: 'form-control input-mentionable',id: "input-post", autofocus: true, placeholder: '分享好康給你的朋友吧！' %>
  </div>

  <div id="img-preview" class="form-group hidden-xs-up">
      <img src="" alt="Preview" width="100px">
      <%#=image_tag %>
  </div>
  <div class="row">
    
    
    <div class="form-group col-xs-4 hidden-xs-up" id="attachment">
        <%= f.hidden_field :attachment_cache%>
        <%= f.file_field :attachment,accept:"image/*" %>
    </div>

    <div class="form-group col-xs-8 offset-xs-4" id="post">
      <%= f.submit '發文', class: 'orange-sm-bg-btn pull-xs-right m-l-1'%>
      <a id="post-attachment" href="javascript:void(0);" class="orange-sm-bg-btn pull-xs-right text-xs-center">
        <%= fa_icon 'image' , style:"padding-top:8px;" %>
      </a>
      
    </div>
  </div>

<% end %>