<div class="post-without-comment container-fluid">
  <div class="info row">
  <div class="col-xs-10">
    <div class="row">
      <div class="col-xs-2">
        <%=pic_store_or_user?(post,post.user)%>
      </div>
      <div class="name-and-time col-xs-10">
        <h6 class="name">
          <%=name_store_or_user?(post,post.user)%>
        </h6>
        <%= render 'shared/created_at', activity: post %>
      </div>
    </div>
  </div>
    <!-- <div class="points"> -->
      <div class="text-xs-right col-xs-2">
        <% if belongs_to_user?(post) %>
          <div class="btn-group">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <i class="glyphicon glyphicon-chevron-down" style="color:lightgray; "></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <li><%= link_to edit_post_path(post), class: 'btn btn-sm' do %>
              <%# fa_icon 'pencil',class:"edit-post-button"  %>編輯貼文
              <% end %></li>
              <li><%= link_to post_path(post), method: :delete, class:'btn btn-sm', remote: true,data: { confirm: '確定刪除此貼文'} do %>
              <%# fa_icon 'remove'%>刪除貼文
              <% end %></li>
            </ul>
          </div>
        <% end %>
      </div>
    <!-- </div> -->
  </div>

  <div class="content">
    <br> 
    <%= simple_format(post.content, class: 'text')%>
    <% if post.attachment.present? %>
      <div class="attachment">
        <%= image_tag post.attachment,class:"m-b-2 post-attachment"%>
      </div>
    <% end %>
  </div>
</div>
<%= render 'shared/actions', resource: post %>