<h5 class="coupon-control-title">優惠卷發放管理</h5>
<div class="text-xs-right">
  <%= link_to '新增優惠券', new_admin_store_coupon_path, :class=> 'coupon-control' %>
</div>
<table class="table coupon-control-table">
  <thead>
    <tr>
      <td>優惠卷標題</td>
      <td>狀態</td>
      <td>截止日期</td>
      <td>使用張數</td>
      <td>發放張數/總發送數</td>
      <td></td>
      <td></td>
    </tr>
  </thead>

  <tbody>
    <%if @admin_coupons.present?%>
      <% @admin_coupons.each do |admin_coupon| %>
      <tr>
        <td><%= admin_coupon.coupon_title %></td>
        
        <td><%= admin_coupon_status(admin_coupon) %></td>
        <td><%= admin_coupon.expiry_date %></td>
        <td><%= admin_coupon.descendants.where("used=?",true).size%></td>
        <td><%= admin_coupon.descendants.size%>/<%= admin_coupon.admin_coupon_limit%></td>
        <td class='coupon-control-table-button'><%= send_or_delete(admin_coupon)%></td>
        <td class='coupon-control-table-button-info'><%= link_to '內容', admin_store_coupon_path(admin_coupon.store,admin_coupon) %>
        <!-- for修改用 -->
          <%= link_to "更改", edit_admin_store_coupon_path(admin_coupon.store,admin_coupon) %>
        <!-- for修改用 -->
        </td>
        </tr>
      <% end %>
    <%else%>
      <tr><td colspan="7"><%=render('shared/no_resource', resources: '任何優惠卷') %></td></tr>
    <%end%>
  </tbody>
</table>

<br>


