<h5 class="m-t-3 m-b-1 p-b-1 admin-new-coupon">新增優惠卷</h5>

<%= form_for [@admin_coupon.store,@admin_coupon], url: admin_store_coupons_path do |f| %>
  <% if @admin_coupon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_coupon.errors.count, "error") %> prohibited this admin_coupon from being saved:</h2>

      <ul>
      <% @admin_coupon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<div class="field">
    <span>優惠券標題：</span>
    <%#= f.label :coupon_title %>
    <%= f.text_field :coupon_title, class:'w-100' %>
  </div>
  <div class="field">
    <span>優惠券圖片：</span>
    <%#= f.label :coupon_pic %>
    <%= f.file_field :coupon_pic %>
  </div>
  <div class="field">
    <span>item</span>
    <%#= f.label :item %>
    <% item_array = @admin_coupon.store.items.map { |item| [item.item_name, item.item_name] } %>
    <%= f.select :item, options_for_select(item_array) %>
  </div>
  <div class="field">
    <%= f.label :start_date %>
    <%= f.text_field :start_date %>
    <!-- <input type="date" id="bookdate" placeholder="2014-09-18"> -->
  </div>
  <div class="field">
    <%= f.label :expiry_date %>
    <%= f.text_field :expiry_date %>
  </div>
  <div class="field">
    <%= f.label :computed_discount %>
    <%= f.text_field :computed_discount %>
  </div>
  <div class="field">
    <span>推廣人數：</span>
    <%= f.label :admin_coupon_limit %>
    <%= f.text_field :admin_coupon_limit %>
  </div>
  <div class="field">
    <%= f.label :other_content %>
    <%= f.text_field :other_content %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', admin_store_coupons_path %>
