<p id="notice"><%= notice %></p>
<table class="table">
    <tr>
      <td><b>Coupon id</b></td>
      <td><b>標題</b></td>
      <td><b>狀態</b></td>
      <td><b>注意事項</b></td>
      <td><b>照片</b></td>
      <td><b>商品</b></td>
      <td><b>qrcode</b></td>
    </tr>
    <tr>
      <td><%= @admin_coupon.id %></td>
      <td><%= @admin_coupon.coupon_title %></td>
      <td><%=admin_coupon_status(@admin_coupon)%></td>
      <td><%=@admin_coupon.other_content%></td>
      <td><%=image_tag @admin_coupon.coupon_pic.thumb.url%></td>
      <td><%=@admin_coupon.item%></td>
      <td><%=image_tag @admin_coupon.qr_code.url||'avatar.jpg'%></td>
    </tr>
</table> 
<%=send_or_delete(@admin_coupon)%>
<%= link_to 'Back', admin_store_coupons_path %>
