<!DOCTYPE html>
<html>

<head>
    <title>Q胖 | 累進式優惠平台</title>
    <%= stylesheet_link_tag    'admin', media: 'all'%>
    <%= javascript_include_tag 'admin'%>
<!--     <script src="//js.pusher.com/2.0/pusher.min.js"></script> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <%=favicon_link_tag 'Qpon.png'%>
    <%= csrf_meta_tags %>
</head>

<body>

<header class="main-header">
    <!-- Logo -->
    <div style=" padding-left:25px; position:fixed; padding-top:10px;" class="admin-logo">
      <%= link_to admin_home_path,class:"admin_logo" do%>
        <%= image_tag "nav_logo_4_dark.png", style:"width:150px;",class:"admin_logo"%>
      <%end%>
    </div>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-fixed">
      <button type="button" id="toggle-button">
        &#9776;
      </button>
        <ul class="nav navbar-nav d-inline-block">
          <!-- Notifications: style can be found in dropdown.less -->
          <li class="notifications-menu nav-item">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">10</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="header">通知</li>
                <!-- inner menu: contains the actual data -->
                  <li>
                    <a href="#">
                      安安追蹤你
                    </a>
                  </li>
                  <li>
                    <a href="#">
                       安安追蹤你
                    </a>
                  </li>
              <li class="footer"><a href="#">View all</a></li>
            </ul>
          </li>
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu nav-item">
              <%=image_tag current_user.avatar.url || 'avatar.jpg', class: "photo-sticker"%>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <li class="nav-item triangle">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"></a>
              <ul class="dropdown-menu dropdown-menu-right" role="menu">
                  <li><%= link_to "登出", admin_sign_out_path,method: :delete,class: "nav-link"   %></li>
                  <li><%= link_to "切換為個人", root_path,class: "nav-link"%></li>
                  <li><a href="#" class="nav-link">使用說明</a></li>
              </ul>                
          </li>
        </ul>
    </nav>
  </header>


<div class="navbar navbar-fixed-left" id="navbar-fixed-left">
    <ul class="nav navbar-nav">
      <li class="store-info">
          <%=image_tag @current_admin_store.store_cover_photo.thumb.url || 'avatar.jpg', class: "photo-sticker-lg"%>
          <div class="store-info-word">
            <%=@current_store.store_name%>
            <p><%=@current_store.followers_count%>人追蹤</p>
          </div>
      </li>
      <li class="nav-item <%= active_class('/admin') %>">
        <%= link_to "Q胖資訊公告", admin_home_path,class: "nav-link" %>
      </li>
      <li class="nav-item ">
        <a class="nav-link show-sub-item <%= active_admin_class(edit_admin_store_path(@current_store),admin_store_items_path(@current_store)) %>">
          店家資訊設定
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right icon"></i>
          </span>
        </a>
        <span class="sub-left-bar-item">
          <%= link_to "店家主頁設定",edit_admin_store_path(@current_store),class: "nav-link" %>
          <%= link_to "商品資訊", admin_store_items_path(@current_store),class: "nav-link" %>
        </span>
      </li>
      <li class="nav-item <%= active_class( admin_store_coupons_path(@current_store)) %>">
        <%= link_to "優惠卷發放管理", admin_store_coupons_path(@current_store),class: "nav-link" %>
      </li>
      <li class="nav-item <%= active_class(admin_operating_data_path(@current_store)) %>">
          <%= link_to "優惠卷數據資料庫", admin_operating_data_path(@current_store),class: "nav-link" %>
      </li>
      
      <li class="nav-item ">
        <%#= link_to "Q胖資訊公告", admin_home_path,class: "nav-link" %>
        <a class="nav-link show-sub-item <%= active_admin_class(admin_posts_path,analysis_admin_posts_path) %>">
          社群經營
          <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right icon"></i>
          </span>
        </a>
        <span class="sub-left-bar-item">
          <%= link_to "粉絲專頁", admin_posts_path,class: "nav-link" %>
          <%= link_to "粉絲數據", analysis_admin_posts_path,class: "nav-link" %>
        </span>
      </li>

    </ul>
</div>


    <div class="container">
        <div class="row">
          <div class="space-for-notice">
              <%if notice.present?%>
                  <div class="alert alert-notice alert-dismissible fade in" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                      </button>
                      <%= notice %>
                  </div>   
              <%end%>
            
              <%if alert.present?%>
                  <div class="alert alert-alert alert-dismissible fade in" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                      </button>
                      <%= alert %>
                  </div>
              <%end%>
            </div>
            <%= yield %>
        </div>
    </div> 
    
    <%= yield :javascript %>     
</body>

</html>
