<!DOCTYPE html>
<html>
<head>
  <title>TrySocify</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <script src="//js.pusher.com/2.0/pusher.min.js"></script>
  
  <%= csrf_meta_tags %>
</head>
<body>
	<nav>
		<%= link_to "首頁", root_path %>
		<%= link_to "一起胖", food_path %>&nbsp;
		<%= link_to "粗乃玩", play_path %>&nbsp;
		<%= link_to "網購優", online_path %>&nbsp;
	<%#= link_to "商店街", _path %>

		<% if signed_in? #if you're not signed in %>
			<%= link_to "官方推薦", offical_path %>&nbsp;&nbsp;
			<%= link_to "sign out", destroy_user_session_path,method: :delete  %><br>
		<%else%>
			<%= link_to "sign in", user_session_path %>
  	<%end%>

	</nav>

  <%= yield %>
  

</body>
</html>
