<!DOCTYPE html>
<html>

<head>
    <title>Q胖 | 累進式優惠平台</title>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
<!--     <script src="//js.pusher.com/2.0/pusher.min.js"></script> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <%=favicon_link_tag 'Qpon.png'%>
    <%= csrf_meta_tags %>
</head>

<body>
<div class="container-fluid">
    <nav class="navbar navbar-fixed-top">
            <!-- <a class="m-r-0"><%#= fa_icon 'search',class:"d-inline-block nav-search-glass nav-search-small-glass"%> </a> -->
            <button type="button" class="navbar-toggler hidden-md-up pull-xs-right bar-button-small" data-toggle="collapse" data-target="#myNavbar"  aria-controls="#myNavbar" aria-expanded="false" aria-label="Toggle navigation">
              &#9776;
            </button>
            <%if signed_in?%>
                <%= link_to offical_path, class:"navbar-brand",id: "navbar-brand" do%>
                    <%= image_tag "nav_logo_4.png", class: "bar-logo"%>
                <%end%>
            <%else%>
                <%= link_to home_path, class:"navbar-brand",id: "navbar-brand" do%>
                    <%= image_tag "nav_logo_4.png", class: "bar-logo"%>
                <%end%>
            <%end%>
            <!-- 放大鏡 -->
            <a class="short-search" href="javascript: void(0)"><%= fa_icon 'search',class:"d-inline-block nav-search-glass"%> </a>

                <div class="collapse navbar-toggleable-sm" id="myNavbar">
                    <ul class="nav navbar-nav" id="nav-choice">
                        <% if signed_in?%>
                            <li class="nav-item <%= active_class('/food')%> first-nav"><%= link_to "Q胖優惠", food_path,class: "nav-link"  %></li>
                            <li class="nav-item <%= active_class('/') %>"><%= link_to "優惠動態", root_path,class: "nav-link"  %></li>
                            <li class="nav-item <%= active_class(user_coupons_path(current_user)) %>"><%= link_to "我的優惠卷列表", user_coupons_path(current_user),class: "nav-link"  %></li>
                            <li class="nav-item <%= active_class('/stores') %>"><%= link_to "商店街",stores_path,class: "nav-link"%></li>

                    </ul>
                    		<ul class="nav navbar-nav pull-md-right">
                                <li class="nav-item nav-search long-search" id='test'>
                                    <a href="javascript: void(0)"><%= fa_icon 'search',class:"d-inline-block nav-search-glass"%> </a>
                                </li>
                        		<li class="nav-item" id="hi">
                                    
                                    <%= link_to user_path(current_user),class: "nav-link"  do %>
                            			<%=image_tag current_user.avatar.url || 'avatar.jpg', class: "photo-sticker"%>
                            			<span id="greeting"><span class="hi">Hi,</span><%=current_user.name%></span>
                        		    <%end%>
                                </li>
                                <li class="nav-item dropdown" id="settings">
                                    <a href="#" class="dropdown-toggle triangle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li><%= link_to "登出", destroy_user_session_path,method: :delete,class: "nav-link"   %></li>
                                        <li><%= link_to '修改密碼', edit_user_registration_path,class: "nav-link"  %></li>
                                        <li><%= link_to '使用說明', faq_path,class: "nav-link"  %></li>
                                        <li><%= is_admin? %></li>
                                    </ul>
                                </li>
                            </ul>    
                </div>

                </nav>
                 <div class="search-friend">
                    <%=form_tag search_user_path, method: :get do%>
                        <%=text_field_tag :search,nil, :placeholder => '輸入關鍵字',class:'search-friend-blank' %>
                        <%=submit_tag "搜尋",:class=>'search-friend-button'%>
                        <!-- <span><button>X</button></span> -->
                    <%end%>
                </div>


                    <%else%>
                    <li class="nav-item  first-nav-not-sign"%><%= link_to "Ｑ胖推薦", home_path,class: "nav-link"%></li>
                    <li class=" <%= active_class('/food') %> nav-item"><%= link_to "Ｑ胖優惠", food_path,class: "nav-link" %></li>

                    <li class="nav-item <%= active_class('/stores') %>"><%= link_to "商店街",stores_path,class: "nav-link"%></li>

                </ul>
                <ul class="nav navbar-nav pull-md-right">
                    <li class="nav-item settings"><%= link_to "登入", user_session_path,class: "nav-link"  %></li>
                    <li class="nav-item settings"><%= link_to "註冊", new_user_registration_path,class: "nav-link"  %></li>
                </ul>
                </nav>
                    <%end%>
    
</div>


    <div class="container">
        <div class="row">
            <div class="space-for-notice">
                <%if notice.present?%>
                    <div class="alert alert-notice alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true" class="p-r-1">&times;</span>
                        </button>
                        <%= notice %>
                    </div>   
                <%end%>
            
            <%if alert.present?%>
                <div class="alert alert-alert alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true" class="p-r-1">&times;</span>
                    </button>
                    <%= alert %>
                </div>
            <%end%>
            </div>
            <%= yield %>
        </div>
    </div>
    

    
</body>

</html>
