<!DOCTYPE html>
<html>

<head>
    <title>Q胖 | 累進式優惠平台</title>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
    <script src="//js.pusher.com/2.0/pusher.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
</head>

<body style="margin-top:110px;">
    <div id="mainbar">
        <div id="main">
        <%= link_to root_path do%>
            <%= image_tag("nav_logo_4.png")%>
        <%end%>
            <ul>
                <li><%= link_to "Ｑ胖優惠", food_path %></li>
                <li><%= link_to "商店街", stores_path %></li>             
            </ul>
                <div id="login_button" class="log">
                    <%= link_to "登入", user_session_path %>
                    <%= link_to "註冊", new_user_registration_path %>
                </div>
        </div>
        <div id="shape">
			<svg id="" width="300px" height="30px">
			<path fill="white" d="M 0 0
								  C 50 1 80 19 150 20 
								  C 220 19 250 1 300 0">
			</path>
			</svg>
		</div>
    </div>
    <div class="container"> 
            <div class="space-for-notice">
                <%if notice.present?%>
                    <div class="alert alert-notice alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true" class="p-r-1">&times;</span>
                        </button>
                        <%= notice %>
                    </div>   
                <%end%>
            
                <%if alert.present?%>
                    <div class="alert alert-alert alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true" class="p-r-1">&times;</span>
                        </button>
                        <%= alert %>
                    </div>
                <%end%>
            </div>                             
        <%= yield %>
    </div>
    <footer>
        <div>
            <div class="spacing">
                <a href="https://www.facebook.com/2016qoupon/?notif_t=page_fan&notif_id=1479137203537100" target="_blank"><%= image_tag 'fb_icon.png'%></a>
                <a href="https://www.youtube.com/watch?v=dY7X5rWUbbA&feature=youtu.be" target="_blank"><%= image_tag 'youtube_icon.png'%></a>
            </div>
            <ul class="spacing">
                <li><%= link_to "首頁", root_path %></li>
                <li><%= link_to'FAQ', faq_path %></li>
            </ul>
            <h5 class="spacing">聯絡我們</h5>
            <p class="spacing">客服電話：0912-030-121 電子信箱：qoupon2016@gmail.com</p>
            <hr>
            <copyright>&copy; 2016 Qoupon</copyright>
        </div>
    </footer>   
        
</body>

</html>
