<!DOCTYPE html>
<html>

<head>
    <title>Q胖 | 累進式優惠平台</title>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
    <!-- <script src="//js.pusher.com/2.0/pusher.min.js"></script> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <%=favicon_link_tag 'Qpon.png'%>
    <%= csrf_meta_tags %>
</head>

<body class="nobar-body">
    <div class="nobar">
        <%= link_to admin_front_path do%>
            <!-- <span class="pull-right nobar-index"> -->
            <%= image_tag "nav_logo_4_dark.png", style:"width:130px;"%>
            <!-- </span> -->
        <%end%>
        <% render_admin_link%>
    </div>
        <%= yield %>   
</body>

</html>