<!DOCTYPE html>
<html>

<head>
    <title>Q胖 | 累進式優惠平台</title>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
    <!-- <script src="//js.pusher.com/2.0/pusher.min.js"></script> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <%=favicon_link_tag 'Qpon.png'%>
    <%= csrf_meta_tags %>
</head>

<body class="nobar-body">
<b>
    <p class="nobar">
        <span class="nobar-orange">Q</span>oupon
        <%= link_to admin_front_path do%>
            <!-- <span class="pull-right nobar-index"> -->
            <% render_admin_link%>
            <!-- </span> -->
        <%end%>
    </p>
</b>
        <p><%= notice %></p>
        <p><%= alert %></p>
        <%= yield %>   
</body>

</html>